

@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <br />
    <h2>Fill in the fields to create a MadLib!</h2><br />

    <form action="/Body" method="post">

        <input id="Adjective" name="Adjective" type="text" placeholder="Adjective"><br /><br />
        <input id="Verbing1" name="Verbing1" type="text" placeholder="Verb Ending in -ing"><br /><br />
        <input id="BookChar1" name="BookChar1" type="text" placeholder="Book Character"><br /><br />
        <input id="Verbing2" name="Verbing2" type="text" placeholder="Verb Ending in -ing"><br /><br />
        <input id="BookChar2" name="BookChar2" type="text" placeholder="Another Book Character"><br /><br />
        <input id="HomeT" name="HomeT" type="text" placeholder="Home Town"><br /><br />
        <input id="BookChar3" name="BookChar3" type="text" placeholder="Another Book Character"><br /><br />
        <input id="Title" name="Title" type="text" placeholder="Title"><br /><br />
        <input id="Name1" name="Name1" type="text" placeholder="Name"><br /><br />
        <input id="State" name="State" type="text" placeholder="State"><br /><br />
        <input id="Name2" name="Name12" type="text" placeholder="Another Name"><br /><br />
        <input id="Onomonopia" name="Onomonopia" type="text" placeholder="Onomonopia"><br /><br />
        <input id="PastVerb" name="PastVerb" type="text" placeholder="Past Tense Verb"><br /><br />
        <input id="Number" name="Number" type="text" placeholder="Number 1-6"><br /><br />
        <br />
        <button type="submit">Go!</button><br />
    </form>


</div>
<!--
     public string Adjective { get; set; }
        public string Verb_ing1 { get; set; }
        public string BookChar1 { get; set; }
        public string Verb_ing2 { get; set; }
        public string BookChar2 { get; set; }
        public string HomeTown { get; set; }
        public string BookChar3 { get; set; }
        public string Title { get; set; }
        public string Name1 { get; set; }
        public string State { get; set; }
        public string Name2 { get; set; }
        public string Onomonopia { get; set; }
        public string PastVerb { get; set; }
        public int Number { get; set; }

    number between 1&6
    -->
