

@{
    ViewData["Title"] = "Home Page";
   
}

<div class="text-center">
    <br />
    <h2>Fill in the fields to create a MadLib!</h2><br />

    <form action="/Body" method="post">

        <input id="color" name="color" type="text" placeholder="Color"><br /><br />
        <input id="verb" name="verb" type="text" placeholder="Verb"><br /><br />
        <input id="adjective" name="adjective" type="text" placeholder="Adjective"><br /><br />
        <input id="noun" name="noun" type="text" placeholder="Noun">
        <br />
        <br />
        <button type="submit">Go!</button><br />
    </form>
        

</div>
